/* src/components/TaskBoard.css */
.task-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.column {
  flex: 1;
  flex-basis: content;
  margin: 0 10px;
  border: 3 solid #BE22CC;
  border-radius: 0px;
  padding: 10px;
  background-color: #FFFEFE;
  overflow-y: auto;
  /* Добавляем вертикальный скролл */
  max-height: 85vh;
  /* Максимальная высота 90% от высоты окна браузера */
  min-height: 30vh;
  /* Минимальная высота 30% от высоты окна браузера */
  box-sizing: border-box;
  /* Учитываем padding в высоте */
}

.column h2 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.task {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: grab;
}

.task h3 {
  margin-top: 0;
}

.task p {
  margin: 5px 0;
}

.task button {
  margin-right: 5px;
}

.dragging {
  opacity: 0.5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}