.gradient {
  height: 100vh; /* Высота экрана */
  width: 100%; /* Ширина экрана */
  background: linear-gradient(149deg, rgb(49, 32, 174) 0%, rgba(106,57,175,1) 42%, rgb(10, 17, 213) 72%, rgb(29, 115, 146) 100%);
  animation: gradient 10s infinite linear; 
  background-size: 400%;
  position: fixed; /* Фиксируем фон на месте */
  top: 0;
  left: 0;
  z-index: -1; /* Убеждаемся, что фон находится под другими элементами */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}